.benefits {
  margin-bottom: 60px;

  @include desktop {
    &.section {
      margin-bottom: 0;
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  @include tablet {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @include desktop {
        flex-wrap: nowrap;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
      margin-bottom: 0;
    }

    @include desktop {
      flex-basis: calc((100% - 90px) / 4);
      margin-bottom: 0;
    }
  }

  &__name {
    color: var(--title-text-color);
    @include font(14px, 1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  &__descr {
    @include font(14px, 1.7);
    text-align: left;
  }

  &__icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--section-bgd-color);
    border-radius: 4px;
    margin-bottom: 30px;

    .icon {
      @include size(70px, 70px);
    }
  }
}
